[submodule "includes/modules/a3g-safezone"]
	path = includes/modules/a3g-safezone
	url = https://github.com/a3g/a3g-safezone
	branch = master
[submodule "includes/modules/a3g-spectator-cam"]
	path = includes/modules/a3g-spectator-cam
	url = https://github.com/a3g/a3g-spectator-cam
	branch = master
[submodule "includes/modules/a3g-loadout"]
	path = includes/modules/a3g-loadout
	url = https://github.com/a3g/a3g-loadout
	branch = master
[submodule "includes/modules/a3g-anti-loot"]
	path = includes/modules/a3g-anti-loot
	url = https://github.com/a3g/a3g-anti-loot
	branch = master
