[submodule "a3g-loadout"]
	path = a3g-loadout
	url = https://github.com/a3g/a3g-loadout.git
[submodule "A3G-SpectatorCam"]
	path = A3G-SpectatorCam
	url = https://github.com/BaerMitUmlaut/A3G-SpectatorCam
